parameters:
	ignoreErrors:
		-
			message: '#^Action callback returns Automattic\\WooCommerce\\Pinterest\\Tracking\|false but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: class-pinterest-for-woocommerce.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: class-pinterest-for-woocommerce.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: class-pinterest-for-woocommerce.php

		-
			message: '#^Variable \$errors in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: class-pinterest-for-woocommerce.php

		-
			message: '#^Class Automattic\\WooCommerce\\Admin\\Features\\Navigation\\Menu not found\.$#'
			identifier: class.notFound
			count: 2
			path: includes/admin/class-pinterest-for-woocommerce-admin.php

		-
			message: '#^Class Automattic\\WooCommerce\\Admin\\Features\\Navigation\\Screen not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/admin/class-pinterest-for-woocommerce-admin.php

		-
			message: '#^Filter callback return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: includes/admin/class-pinterest-for-woocommerce-admin.php

		-
			message: '#^Action callback returns mixed but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/AdCredits.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Admin/Input/FormException.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Admin/Product/Attributes/AttributesTab.php

		-
			message: '#^Action callback returns mixed but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Billing.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/CommerceIntegration.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 3
			path: src/Exception/InvalidClass.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 7
			path: src/Exception/InvalidValue.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/FeedRegistration.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/LocalFeedConfigs.php

		-
			message: '#^Caught class Psr\\Container\\ContainerExceptionInterface not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/MultichannelMarketing/MarketingChannelRegistrar.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/MultichannelMarketing/PinterestChannel.php

		-
			message: '#^Action callback returns true but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/RefreshToken.php

		-
			message: '#^Variable \$product in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/SaveToPinterest.php

		-
			message: '#^Callback expects 1 parameter, \$accepted_args is set to 2\.$#'
			identifier: arguments.count
			count: 1
			path: src/Tracking.php

		-
			message: '#^Callback expects 4 parameters, \$accepted_args is set to 6\.$#'
			identifier: arguments.count
			count: 1
			path: src/Tracking.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 3
			path: src/View/ViewException.php

		-
			message: '#^Function wp_has_consent not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/WPConsentAPI.php

		-
			message: '#^Access to an undefined property Automattic\\WooCommerce\\Pinterest\\View\\PHPView\:\:\$form\.$#'
			identifier: property.notFound
			count: 1
			path: views/attributes/tab-panel.php

		-
			message: '#^Access to an undefined property Automattic\\WooCommerce\\Pinterest\\View\\PHPView\:\:\$children\.$#'
			identifier: property.notFound
			count: 1
			path: views/attributes/variations-form.php

		-
			message: '#^Access to an undefined property Automattic\\WooCommerce\\Pinterest\\View\\PHPView\:\:\$is_root\.$#'
			identifier: property.notFound
			count: 1
			path: views/attributes/variations-form.php

		-
			message: '#^Access to an undefined property Automattic\\WooCommerce\\Pinterest\\View\\PHPView\:\:\$form\.$#'
			identifier: property.notFound
			count: 1
			path: views/inputs/form.php

		-
			message: '#^Access to an undefined property Automattic\\WooCommerce\\Pinterest\\View\\PHPView\:\:\$input\.$#'
			identifier: property.notFound
			count: 1
			path: views/inputs/google-category.php

		-
			message: '#^Access to an undefined property Automattic\\WooCommerce\\Pinterest\\View\\PHPView\:\:\$input\.$#'
			identifier: property.notFound
			count: 1
			path: views/inputs/select.php
