$root: ".woocommerce-setup-guide";

.woocommerce-admin-full-screen {
	margin-top: 0;
}

@media screen and (max-width: 600px) {
	#wpbody {
		padding-top: 0;
	}
}

#{$root} {

	&__body {

		.wrap {
			margin: 0;
		}

		#wpcontent {
			padding: 0;
		}

		.woocommerce-layout {

			&__main {
				display: block;
				padding-right: 0;
			}

			.woocommerce-spinner {
				display: none;
			}

			.woocommerce-list__item-content {
				white-space: break-spaces;
			}
		}

		#{$root} {

			&__header {
				align-items: center;
				background: #fff;
				border-bottom: 1px solid #dcdcde;
				display: flex;
				height: 60px;
				justify-content: center;

				.woocommerce-stepper {
					margin: 0 16px;
					width: 100%;

					&__steps {
						margin: 0 auto;
						max-width: 768px;
					}

					&__step {
						padding-left: 12px;
						padding-right: 12px;
					}
				}
			}

			&__container {
				margin: var(--large-gap) auto;
				max-width: 1032px;
			}

			&__step {

				&-header {
					color: #000;
					margin: 0 auto var(--large-gap);
					max-width: 490px;
					min-height: 120px;
					text-align: center;

					> div {
						margin: 12px 0;
					}

					&__subtitle {
						text-transform: uppercase;
					}

					&__description {
						color: #191E23;
					}
				}

				&-overview {
					color: #000;
					margin-top: var(--large-gap);

					> div {
						margin: 8px 0;
					}

					&__description {
						color: #191E23;
					}

					&__link {

						a {
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}

						svg {
							display: none;
						}
					}
				}

				&-columns {
					column-gap: 24px;
					display: grid;
					grid-template-columns: 328px auto;
				}
			}
		}
	}
}

.woocommerce-layout {

	&__main {
		display: none;
	}
}
