$root: ".woocommerce-setup-guide";

#{$root} {

	&__body {

		&.woocommerce-admin-full-screen {
			margin-top: 0;

			.woocommerce-layout__primary {
				margin: 60px 0 0 0;
			}

			.woocommerce-layout__header {
				top: 0;
				left: 0;
				width: 100%;
				display: block;
			}

			.woocommerce-navigation {
				display: none;
			}
		}

		@media screen and (max-width: 600px) {
			#wpbody {
				padding-top: 0;
			}
		}

		.wrap {
			margin: 0;
		}

		#wpcontent {
			padding: 0;
		}

		.woocommerce-layout {

			&__main {
				display: block;
				padding-right: 0;
			}

			.woocommerce-spinner {
				display: none;
			}

			.woocommerce-list__item-content {
				white-space: break-spaces;
			}
		}

		#{$root} {

			&__main {

				.woocommerce-stepper {

					&__steps {
						align-items: center;
						display: flex;
						height: 60px;
						justify-content: center;
						margin: 0 auto;
						max-width: 850px;
						overview: hidden;
						position: relative;

						&::before {
							background: #fff;
							border-bottom: 1px solid #dcdcde;
							content: "";
							display: block;
							height: 100%;
							left: 50%;
							position: absolute;
							top: 0;
							transform: translateX(-50%);
							width: 100vw;
							z-index: -1;
						}
					}

					&__step {
						padding-left: 12px;
						padding-right: 12px;

						&-divider {
							align-self: center;
							margin-top: 0;
						}
					}
				}
			}

			&__container {
				color: #000;
				max-width: 1032px;
				padding-left: 16px;
				padding-right: 16px;

				@media (min-width: 783px) {
					margin: var(--large-gap) auto;
				}

				> div {

					&:not(:first-child) {
						margin-top: calc(var(--large-gap) + (var(--main-gap) / 2));
					}
				}

				.components-card__body.is-size-large {
					padding: var(--large-gap);
				}

				.components-card__footer {
					padding-left: var(--large-gap);
					padding-right: var(--large-gap);
				}

				.components-button.is-link.is-destructive {
					color: #cc1818;

					&:hover:not(:disabled) {
						color: #710d0d;
					}
				}
			}

			&__step {

				&-header {
					margin: 16px auto 40px;
					max-width: 490px;
					text-align: center;

					@media (min-width: 783px) {
						margin: 0 auto var(--large-gap);
						min-height: 120px;
					}

					> div {
						margin: 12px 0;
					}

					&__subtitle {
						text-transform: uppercase;
					}

					&__description {
						color: #191E23;
					}
				}

				&-overview {
					margin-top: var(--large-gap);

					@media (min-width: 783px) {
						position: absolute;
					}

					> div {
						margin: 8px 0;
					}

					&__description {
						color: #191E23;
					}

					&__link {

						a {
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				&-status {
					--bg-color: transparent;
					--border-color: #ddd;
					padding: 8px;
					display: flex;

					&.has-error {
						--border-color: var(--wc-red);
						--bg-color: var(--border-color);
					}

					&.has-pending,
					&.has-success {
						--border-color: var(--wp-admin-theme-color);
						--bg-color: var(--border-color);
					}

					&__icon {
						align-items: center;
						background-color: var(--bg-color);
						border: 1px solid var(--border-color);
						border-radius: 50%;
						color: #fff;
						display: inline-flex;
						font-size: 16px;
						height: 22px;
						justify-content: center;
						margin-right: 12px;
						min-width: 22px;
						width: 22px;

						.woocommerce-spinner {
							border-radius: 50%;
							display: block;
							max-height: 22px;
							min-width: 22px;
							width: 22px;

							&__circle {
								stroke: #fff;
							}
						}
					}
				}

				&-columns {
					@media (min-width: 783px) {
						column-gap: 24px;
						display: grid;
						grid-template-columns: 328px auto;
					}
				}

				&-column {
					position: relative;

					.woocommerce-spinner {
						display: block;
					}
				}

				&-modal {

					&__buttons {

						button + button {
							margin-left: 12px;
						}
					}
				}
			}

			&__setup-account {

				.is-connected {

					> * {
						margin: 8px 0;
					}
				}
			}

			&__claim-website {

				.components-card__body {

					> *:not(:last-child) {
						margin-bottom: 16px;
					}
				}

				#{$root} {

					&__step {

						&-status {
							padding: 0
						}
					}
				}

				.is-verified {

					> * {
						margin: 8px 0;
					}
				}

				.has-idle {

					#{$root} {
						&__step-status__icon {
							display: none;
						}
					}
				}
			}

			&__setup-tracking {

				.text-margin {
					margin: 1em 0;
				}

				.components-base-control {

					&__help {
						margin: 0.2em 0 1.5em 0;
					}

					&:last-child .components-base-control {
						&__help {
							margin-bottom: 0;
						}
					}
				}
			}

			&__checkbox {

				&-heading {
					margin: 24px 0;

					&:first-child {
						margin-top: 0;
					}
				}

				&-group {
					align-items: center;
					display: flex;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}

					.components-base-control {

						&__field,
						&__help {
							margin: 0;
						}

						&__help {
							margin-left: 12px;

							.components-button {
								display: inline-block;
								text-decoration: none;

								&:not(:hover) {
									color: inherit;
								}
							}
						}
					}
				}
			}

			&__footer-button {
				display: block;
				margin-top: var(--large-gap);
				text-align: right;
			}
		}
	}
}

.pin4wc-landing-page {
	max-width: 824px;
	margin: 0 auto;

	&__welcome-section {

		.components-flex {
			padding: 36px 0;

			&__block {
				margin: 0;

				&.content-block {
					padding: 20px 64px;
					flex: 0 0 50%;

					p:not(:last-child) {
						margin-bottom: 16px;
					}
				}

				&.image-block {
					align-items: center;
					display: flex;

					img {
						height: 100%;
						object-fit: cover;
						width: 100%;
					}
				}
			}
		}
	}

	&__features-section {

		.components-flex {
			gap: 64px;
			padding: 50px 64px;

			&__block {
				text-align: center;
				margin: 0;

				img {
					border-radius: 100px;
					height: 100px;
					margin-bottom: 32px;
					object-fit: cover;
					width: 100px;
				}

				p:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	}

	&__faq-section {

		h2 {
			font-weight: 700;
		}
	}
}

.pin4wc-catalog-sync {
	&__container {
		@media (min-width: 783px) {
			margin: var(--large-gap) auto;
		}
	}

	&__state {

		.woocommerce-table__header {
			display: none;
		}

		th:first-child {
			width: 1%;
			min-width: 175px;
			white-space: nowrap;

			.is-placeholder {
				max-width: 100%;
				width: 100%;
			}
		}

		td {
			color: #757575;

			.is-placeholder {
				max-width: 60%;
			}
		}

		.woocommerce-summary {
			background: none;
			border: 0;
			box-shadow: none;
			margin: 0;

			&__item {
				background: none;

				&-container {

					&:last-child {

						> div {
							border-right: 0;
						}
					}
				}

				&-delta {
					display: none;
				}
			}
		}

		svg.dashicon {
			margin-bottom: -5px;
		}
	}

	&__issues {

		&.woocommerce-card {
			border: 1px solid rgb(226, 228, 231);
			box-shadow: none;
		}

		.woocommerce-card {

			&__header {
				padding: 16px 24px;
				border-bottom: 1px solid rgb(226, 228, 231);
			}

			&__title {
				font-size: 20px;
				line-height: 28px;
			}

			&__body {
				padding: 0;
			}
		}

		th:first-child {
			text-align: center;
			white-space: nowrap;
			width: 1%;
		}

		.woocommerce-pagination {
			border-top: 1px solid rgb(226, 228, 231);
			margin-bottom: 0;
			padding-bottom: 0.875rem;
			padding-top: 0.875rem;
		}
	}

	.no-padding {
		padding: 0;
	}

	.red-text {

		color: #D63B44;

		svg {
			fill: #D63B44;
		}
	}

	.yellow-text {

		color: #F0B849;

		svg {
			fill: #F0B849;
		}
	}

	.green-text {

		color: #23A713;

		svg {
			fill: #23A713;
		}
	}
}

