$root: ".woocommerce-catalog-sync";

#pin4wc-catalog-sync {

	.woocommerce-layout__main {
		padding-left: 40px;
		padding-left: var(--large-gap);
	}

	#{$root} {
		&__state-item {
			padding: 24px 32px;

			&:not(:first-child) {
				border-top: 1px solid rgb(226, 228, 231);
			}

			p {
				+ p {
					margin-top: 0.75rem;
				}

				.emoji {
					margin-right: 0.5rem;
				}
			}
		}
	}

	.woocommerce-summary {
		background: none;
		border: 0;
		box-shadow: none;
		margin: 0;

		&__item {
			background: none;
			border-bottom: 0;

			&-container {

				&:last-child {

					> div {
						border-right: 0;
					}
				}
			}
		}
	}

	.no-padding {
		padding: 0;
	}

	.muted {
		color: #757575;
	}

	.align-items-start {
		align-items: flex-start;
	}
}

