.pinterest-for-woocommerce-image-wrapper {
	left: 10px;
	position: absolute;
	top: 10px;
	z-index: 50;
	opacity: 0;
	pointer-events: none;

	@media (hover: none) {
		opacity: 1;
		pointer-events: auto;
	}

	.product:hover > &,
	.wc-block-grid__product:hover > &,
	.product:focus-within > &,
	.wc-block-grid__product:focus-within > & {
		opacity: 1;
		pointer-events: auto;

		a {
			text-decoration: none;
		}
	}
}


// Twenty Twenty-Four compatibility.
.wp-block-post,
.wc-block-product {

	&.product {
		position: relative;
	}
}
