.pin4wc-image-wrapper {
	left: 10px;
	position: absolute;
	top: 10px;
	z-index: 50;
	opacity: 0;
	visibility: hidden;

	@media (hover: none) {
		opacity: 1;
		visibility: visible;
	}

	.product:hover > & {
		opacity: 1;
		visibility: visible;
	}
}
